In [1]:
a=int(input("Enter the first: "))
b=int(input("Enter the number: "))

print(a+b)

Enter the first:  2
Enter the number:  3

5

In [2]:


print("kiit")

kiit

In [1]:
# 1. Hello World

print("Hello World")

Hello World

In [3]:
# 2. Variables and Input

a=int(input("Enter the First Number: "))
b=int(input("Enter the First Number: "))
sum=a+b
print(sum)

Enter the First Number:  4
Enter the First Number:  5

9

In [60]:
#3. Comments and Constraints

import math 
r=float(input("Enter radius"))
areac=math.pi*r**2
print(areac)

Enter radius7
153.93804002589985

In [12]:
#5.Arithmetic Operators and Expressions
#sum of first n natural numbers (looping)
n=int(input("enter the limit: "))
sum_n=0
for i in range(0,n+1):
    sum_n+=i

print("Sum = ",sum_n)

enter the limit:  5

Sum =  15

In [61]:
#4.Data Types and Type Conversion 
a=int(input("enter number"))
b=float(input("enter number"))
sum=a+b
print(type(a))
print(type(b))
print(type(sum))

enter number5
enter number7.8
<class 'int'>
<class 'float'>
<class 'float'>

In [13]:
str1=str()
type(str1)

str

In [14]:
#6.String Manipulation
#concatenation

str1=input("Enter the first string: ")
str2=input("Enter the first string: ")

str3=str1+str2
print(str3)

Enter the first string:  Adil
Enter the first string:  Ahmad

AdilAhmad

In [63]:
str="adilahmad"
x=str.replace('ahmad','idrisi')
print(x)

adilidrisi

In [66]:
print(str[0:4])

adil

In [16]:
len(str3)

9

In [27]:
#7.Logical Operators
#leap year
y=int(input("Enter the year: "))
if(y%400==0 and y%100==0):
  print("Leap Year ")
elif(y%4==0 and y%100!=0):
    print("Leap Year ")
else:
  print("Not Leap Year")

Enter the year:  2016

Leap Year:

In [22]:
#9.Conditional Statements
e=int(input("Enter the Number: "))
if(e%2==0):
      print("even")
else:
      print("odd")

Enter the Number:  4

even

In [30]:
#8.List and Indexing

List=list()
type(List)

list

In [31]:
l1=[1,2,4,5,6]
l1[0:3]

[1, 2, 4]

In [32]:
len(l1)

5

In [34]:
l1.append(8)
print(l1)

[1, 2, 4, 5, 6, 8, 8]

In [37]:
l1.pop()
print(l1)

[1, 2, 4, 5, 6]

In [42]:
l1.insert(1,"adil")
print(l1)

[1, 'adil', 2, 1, 4, 5, 6]

In [43]:
type(l1)

list

In [51]:
l1.remove('adil')

In [ ]:
#sum of element of list 
i=len(l1)
suml=0
for i in l1 :
   suml+=i
print(suml)

In [ ]:
#sum of first n odd numbers 

n=int(input("enter the number: "))
sume=0
while (i<=n):
   if(i%2!=0):
     sume+=i
print(sume)

In [67]:
#10.looping
i=0
while (i<10):
   i=i+1
   print(i)

1
2
3
4
5
6
7
8
9
10

enter number5
enter number7.6
<class 'int'>
<class 'float'>
<class 'float'>

adilidrisi